.headimage{
    position: relative;
    top: -72px;
    left: 0;
    width:100%;
    height: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;/* 兼容Webkit內核瀏覽器如Chrome和Safari */
    -o-background-size: cover;/* 兼容Opera */
    zoom: 1;

}
html{
    font-size: 28px; 
    height: 960px;
    min-width: 1520px;
    overflow-x: hidden;
 }
body{
    width: auto;
    height: 100%;
    padding:0px 0px 0px 0px;
    margin: 0;
}
.container{
    position: re;
}
.head_img{
   height: 360px;
}
.row{
    display: flex;
    flex-direction: row;
    height: 700px;
}
.col{
    min-width: 50%;
    max-width: 50%;
}
.about_text{
    padding: 1%;
    height: 100px;
}
.about_text_content {
    font-size: 0.7rem;
}
.about_text_tile{
    text-align: center;
}
.about_text_tile h2{
    margin: 0;
}

.about_title_img{
    padding-left: 1%;
    width: 98%;
    height: 60%;
}
.img_size{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.about_img{
  margin-top: 5px;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
}
.about_img_item{
    padding-left: 1%;
    min-width: 32%;
    min-height: 95%;
    max-width: 32%;
    max-height: 95%;
}
