.carousel-inner{
    overflow: visible;
}
.navbar-brand img {
	height: 50px;
}
.nav-link{
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", "맑은 고딕", sans-serif;
    text-align: center;
}
.vertical-align {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
@media (min-width: 320px) {
        .navbar-toggler-icon{
            width:30px!important;
            height:30px!important; 
        }
        .social{
            margin-right: 10px;
        }
        a:hover{
            background-color: gray;
        }
    }
@media(min-width: 768px) {
    a:hover{
        background-color: gray;
    }
}
@media (min-width: 1024px)
{
    a:hover{
        background-color: none;
    }
}
.navbar-flex{
    display: flex;
    justify-content: space-around
}
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
    display: none;
    z-index: 10000;
}