.navbar-brand img {
	height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
    padding-right:50px!important; 
    }
    .social{
        margin-right: 10px;
    }
}
@media (min-width: 320px) {
    /*nav選單*/
        .navbar{
        padding-left:30px!important;
        padding-right:30px!important; 
        }
        .social{
            margin-right: 10px;
        }
    }
.navbar-flex{
    display: flex;
    justify-content: space-around
}