body{
    padding:0px 0px 0px 0px;
    min-width: 1500px;
    width: auto;
    min-height: 732px;
    max-height: 732px;
    margin: 0 auto;
}
.main_window{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: start;
    width: 100%;
    min-width: 1500px;
    top: -660px;
    left: 0px;
}
.main{
    position:relative;
    top:0;
    left:0;
    max-height: 100%;
    height: 100%;
    width:100%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;/* 兼容Webkit內核瀏覽器如Chrome和Safari */
    -o-background-size: cover;/* 兼容Opera */
    zoom: 1;
}
.logo{
    padding-top: 10px;
    width: 100px;
    height: 100px;
}
.slogan{
    padding-top: 50px;
}
.content{
    padding-top: 50px;
    font-size: 0.6rem;
}